<form action="/lists" method="post">
	<dl>
		<dt>
			<label for="list_name">Enter the name for you new your list:</label>
		</dt>
		<dd>
			<input name="list_name" placeholder="List Name" type="text" value="">
		</dd>
	</dl>
	<fieldset class="actions">
		<input type="submit" value="save">
		<a href="/lists">Cancel</a>
	</fieldset>
</form>